<div class="boostrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <mat-card>
                <div class="text-end my-3">
                    <button (click)="enviarFormulario()" mat-raised-button color="primary"> + Agregar
                        Estudiante</button>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Dni</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Fecha de registro</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let estudiante of estudiantes">
                                <td>{{estudiante.dni}}</td>
                                <td>{{estudiante.nombre}}</td>
                                <td>{{estudiante.apellido}}</td>
                                <td>{{estudiante.correo}}</td>
                                <td>{{estudiante.edad}}</td>
                                <td>{{estudiante.fecharegistro}}</td>
                                <td>{{estudiante.usuario.username}}</td>
                                <td><button type="button" (click)="eliminarUsuario(estudiante.usuario.username)" class="btn btn-danger">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
    </div>
</div>