<div class="boostrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <mat-card>
                    <mat-action-list>
                        <div mat-subheader>Menu</div>
                        <button routerLink="/admin/welcome" mat-list-item>
                            <mat-icon mat-list-icon>home</mat-icon> Inicio
                        </button>
                        <button mat-list-item routerLink="/admin/profile">
                            <mat-icon mat-list-icon>account_circle</mat-icon> Perfil
                        </button>
                        <button mat-list-item routerLink="/admin/usuarios">
                            <mat-icon mat-list-icon>people</mat-icon> Usuarios
                        </button>
                        <button mat-list-item routerLink="/admin/profesiones">
                            <mat-icon mat-list-icon>school</mat-icon> Profesiones
                        </button>
                        <button mat-list-item routerLink="/admin/categorias">
                            <mat-icon mat-list-icon>people</mat-icon> Categorias
                        </button>
                        <button mat-list-item routerLink="/admin/evaluaciones">
                            <mat-icon mat-list-icon>quiz</mat-icon> Evaluaciones
                        </button>
                        <button mat-list-item routerLink="/admin">
                            <mat-icon mat-list-icon>logout</mat-icon> Cerrar Sesión
                        </button>
                    </mat-action-list>
                </mat-card>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>