<h1>Bienvenido al panel de Administrador</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-icon mat-list-icon>account_circle</mat-icon> 
            <p>Alayo Yepez</p>
        </div>
        <div class="col-md-4">
            <mat-icon mat-list-icon>account_circle</mat-icon> 
            <p>Angulo Sal y Rosas</p>
        </div>
        <div class="col-md-4">
            <mat-icon mat-list-icon>account_circle</mat-icon> 
            <p>Bocanegra Valencia</p>
        </div>
    </div>
</div>