
.example-button-row{
    display: flex;
    justify-content: center;
}

.example-button-row .del{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.container table thead tr th{
    text-align: center;
}


